*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
#header{
    height: 70px;
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: center;
    align-items: center;
    font-size: 40pt;
}
/* ======================================================= */
#city-search{
    padding: 15px;
    background-color: rgb(206, 206, 206);
}
#input{
    font-size: 20pt;
    width: 100%
}
#city-storage{
    margin-top: 15px;
}
#searchButton{
    width: 50%;
    height: 40px;
}
#clearList{
    width: 50%;
    height: 40px;
}
/* ======================================================= */
#city-info{
    padding: 15px;
}
#info{
    padding: 15px;
    border: 3px solid black;
    font-size: 20pt;
}
#cityName{

}
/* ======================================================= */
#city-forecast{
    border: 2px solid black;
}
#weatherCard{
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 1em;
    display: table;
    margin: 15px;
    float: left;
}
#cityCard{
    width: 100%;
    border: 2px solid gray;
    height: 75px;
}
/* ======================================================= */